/* Fuente Dosis */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(font/Dosis.woff) format('woff');
}

body {
    font-family: 'Dosis';
}

.body2
{
    background-image: url('assets/img/lab.gif'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin:10px; 
    padding:10px;
}

h3 {
    font-weight: normal;
}

.span10 {
    padding-left: 20px;
}
.m {
	text-transform: uppercase; 
    
    /*text-transform: none;*/
}

.titulo {
    text-align: center;
    text-transform: uppercase; 
    /*text-transform: none;*/
}

#td {
    border-left: #ffffff;
    border-top: #ffffff;
    text-transform: uppercase; 
    /*text-transform: none;*/
}
#tdbtn {
    border-left: #ffffff;
    border-top: #ffffff;
    text-transform: uppercase; 
    /*text-transform: none;*/
    text-align: center;
}
/*
input {
    text-transform: uppercase; 
    text-transform: none;
}
*/
#resultado {
    text-align: center;
    text-transform: uppercase; 
    /*text-transform: none;*/
    color: #ffffff;
    padding: 0px;
}

#cargando {
    text-align: center;
    text-transform: uppercase; 
    /*text-transform: none;*/
    color: #000;
    padding: 0px;
    font-size: medium;
}

/* Estilo Campo Vacio */
.vacio{
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    margin-left: -170px;
    margin-top: 37px;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    direction: ltr;
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    list-style: none outside none;
}

.vacio:before{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid #da4f49;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 10px;
    position: absolute;
    top: -14px;
}

/* Sidebar */
.sidebar {
    width:189px;
    /*position:absolute;*/
    top:0;
    bottom:0;
    border-right:1px solid #ccc;
    background-color:#f2f2f2;
}
.sidebar:before {
    content:"";
    display:block;
    width:189px;
    position:fixed;
    bottom:0;
    top:0;
    z-index:-1;
    background-color:#f2f2f2;
    border-right:1px solid #ccc;
}
.fixed {
    position:fixed;
    z-index:1029;
    top:75px;
    left:0;
    width: 189px;
}
.fixed:before {
    left:0;
    right:auto;
}

/* Menu */
li [class^="icon-"],li [class*=" icon-"],.nav-list li [class^="icon-"],.nav-list li [class*=" icon-"] {
    width:auto
}
.nav-list {
    margin:0;
    padding:0;
    list-style:none;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
}
.nav-list>li>a,.nav-list .nav-header {
    margin:0;
}
.nav-list>li {
    display:block;
    padding:0;
    margin:0;
    border:0;
    border-top:1px solid #fcfcfc;
    border-bottom:1px solid #e5e5e5;
    position:relative;
}
.nav-list>li:first-child {
    border-top:0
}
.nav-list>li>a {
    display:block;
    height:38px;
    line-height:36px;
    padding:0 16px 0 7px;
    background-color:#f9f9f9;
    color:#585858;
    text-shadow:none!important;
    font-size:13px;
    text-decoration:none;
}
.nav-list>li>a>[class*="icon-"]:first-child {
    display:inline-block;
    vertical-align:middle;
    min-width:14px;
    text-align:center;
    font-size:18px;
    font-weight:normal;
}
.nav-list>li>a:focus {
    background-color:#f9f9f9;
    color:#1963aa;
}
.nav-list>li>a:hover {
    background-color:#FFF;
    color:#1963aa;
}
.nav-list>li>a:hover:before {
    display:block;
    content:"";
    position:absolute;
    top:-1px;
    bottom:0;
    left:0;
    width:3px;
    max-width:3px;
    overflow:hidden;
    background-color:#3382af;
}
.nav-list>li a>.arrow {
    display:inline-block;
    width:14px!important;
    height:14px;
    line-height:14px;
    text-shadow:none;
    font-size:18px;
    position:absolute;
    right:9px;
    top:11px;
    padding:0;
    color:#666;
}
.nav-list>li a:hover>.arrow,.nav-list>li.active>a>.arrow,.nav-list>li.open>a>.arrow {
    color:#1963aa;
}
.nav-list>li.separator {
    height:3px;
    background-color:transparent;
    position:static;
    margin:1px 0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.nav-list>li.open>a {
    background-color:#fafafa;
    color:#1963aa;
}
.nav-list>li.active {
    background-color:#fff
}
.nav-list>li.active>a,.nav-list>li.active>a:hover,.nav-list>li.active>a:focus,.nav-list>li.active>a:active {
    background-color:#fff;
    color:#0b6cbc;
    font-weight:bold;
    font-size:13px;
}
.nav-list>li.active>a>[class*="icon-"] {
    font-weight:normal;
}
.nav-list>li.active>a:hover:before {
    display:none;
}
.nav-list>li.active:after {
    display:inline-block;
    content:"";
    position:absolute;
    right:-2px;
    top:-1px;
    bottom:0;
    border-right:2px solid #0b6cbc;
}
.nav-list>li.open {
    border-bottom-color:#e5e5e5;
}
.nav-list>li.active .submenu {
    display:block;
}
.nav-list>li .submenu {
    display:none;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    background-color:#fff;
    border-top:1px solid #e5e5e5;
}
.nav-list>li .submenu>li {
    margin-left:0;
    position:relative;
}
.nav-list>li .submenu>li>a {
    display:block;
    position:relative;
    color:#616161;
    padding:7px 0 8px 28px;
    margin:0;
    border-top:1px dotted #e4e4e4;
}
.nav-list>li .submenu>li>a:focus {
    text-decoration:none;
}
.nav-list>li .submenu>li>a:hover {
    text-decoration:none;
    color:#4b88b7;
}
.nav-list>li .submenu>li.active>a {
    color:#0b6cbc;
}
.nav-list>li .submenu>li a>[class*="icon-"]:first-child {
    display:none;
    font-size:12px;
    font-weight:normal;
    width:18px;
    height:auto;
    line-height:12px;
    text-align:center;
    position:absolute;
    left:10px;
    top:11px;
    z-index:1;
    background-color:#FFF;
}
.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child,.nav-list>li .submenu>li:hover>a>[class*="icon-"]:first-child {
    display:inline-block;
}
.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child {
    color:#c86139;
}
.nav-list>li>.submenu>li:before {
    content:"";
    display:inline-block;
    position:absolute;
    width:8px;
    left:18px;
    top:17px;
    border-top:1px solid #ccd7e2;
}
.nav-list>li>.submenu>li:first-child>a {
    border-top:1px solid #fafafa;
}
.nav-list>li>.submenu:before {
    content:"";
    display:block;
    position:absolute;
    z-index:1;
    left:18px;
    top:0;
    bottom:0;
    border-left:1px solid #ccd7e2;
}
.nav-list>li.active>.submenu>li:before {
    border-top-color:#bccfe0;
}
.nav-list>li.active>.submenu:before {
    border-left-color:#bccfe0;
}
.nav-list li .submenu {
    overflow:hidden;
}
.nav-list li.active>a:after {
    display:block;
    content:"";
    position:absolute!important;
    right:0;
    top:4px;
    border:8px solid transparent;
    border-width:14px 10px;
    border-right-color:#0b6cbc;
}

/* Tablas */
.table thead tr {
    color: #707070;
    font-weight: normal;
    background: #f2f2f2;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f8f8f8,#ececec);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec);
    background-image: -o-linear-gradient(top,#f8f8f8,#ececec);
    background-image: linear-gradient(to bottom,#f8f8f8,#ececec);
    background-repeat: repeat-x;
}
.table thead tr th {
    text-align: center;
    font-size: 16px;
}
.table tbody tr th {
    text-align: center;
}